POSTGRES_DB=bloom
POSTGRES_USER=bloom
POSTGRES_PASSWORD=REPLACE_ME_STRONG_SECRET
MAX_BOT_TOKEN=
MAX_BOT_SECRET=
YUKASSA_SHOP_ID=
YUKASSA_SECRET_KEY=
APP_BASE_URL=https://bloom.example.com
BLOOM_EXPIRATION_CHECK_CRON=0 0 0 * * *
BLOOM_MEMBER_SYNC_CRON=0 0 1 * * *
